src/xsd/export-metadata-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://brisskit.org/xml/export-metadata-config/v3.0/em"
           targetNamespace="http://brisskit.org/xml/export-metadata-config/v3.0/em">
  
  <xs:element name="onyx-export-config" type="onyx-export-configType"/>
  
  <xs:complexType name="standard-booleansType">
    <xs:sequence>
      <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="excludeType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="hint" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="filterType">
    <xs:sequence>
      <xs:element type="excludeType" name="exclude" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="questionnaire" use="optional"/>
    <xs:attribute type="xs:string" name="alternateName" use="optional"/>
    <xs:attribute type="xs:boolean" name="drivingEntity" use="optional"/>
  </xs:complexType>
  <xs:complexType name="questionnairesType">
    <xs:sequence>
      <xs:element type="filterType" name="filter" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enumType">
    <xs:sequence>
      <xs:element type="xs:string" name="hint" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="exclude" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="first" use="optional"/>
    <xs:attribute type="xs:string" name="last" use="optional"/>
    <xs:attribute type="xs:string" name="group" use="optional"/>
  </xs:complexType>
  <xs:complexType name="enumerated-conceptsType">
    <xs:sequence>
      <xs:element type="enumType" name="enum" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The attribute name for enum AGE and RECENT_TIME are used programmatically.
		    	 Do not alter! All other enum attribute name values are documentation only.
		    	
		    	 The hints and exclusion strings are applied to each variable name and its type.
		    	 If a hint is contained in either it is a candidate for generating an enumeration.
		    	 But may then be excluded if the exclude string is contained in either.
		    
		    	 RECENT_TIME enumerations have a fixed grouping of  
		    	 "Today", "Yesterday" and "More than 24 hours".
		    	 "Today", "Yesterday" are subdivided 
		    	 into hours and 15 minute intervals.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="codeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="description" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ethnicityType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="codeType" name="code"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="variableName"/>
  </xs:complexType>
  <xs:complexType name="ontology-phaseType">
    <xs:sequence>
      <xs:element type="xs:string" name="user-defined-procedure" minOccurs="0"/>
      <xs:element type="xs:string" name="ontology-root-name">
        <xs:annotation>
          <xs:documentation>Table name for the ontology tree.
	    	 Relevant only for a nominal ontology.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="standard-booleansType" name="standard-booleans">
        <xs:annotation>
          <xs:documentation>What values within the questionnaire form standard boolean-like answers.
	    	 Relevant only for building a nominal ontology.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="questionnairesType" name="questionnaires">
        <xs:annotation>
          <xs:documentation>Can be used to filter a nominal ontology.
			
		     The questionnaires section can be used to exclude:
		     (1) whole sub-questionnaires 
		     (2) whole sections of a sub-questionnaire
		     (3) ranges of variables from sections of a sub-questionnaire.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="enumerated-conceptsType" name="enumerated-concepts">
        <xs:annotation>
          <xs:documentation>Hints over which variables are to form generated enumerations.
	    	 Relevant only for building a nominal ontology.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="ethnicityType" name="ethnicity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="selectType">
    <xs:sequence>
      <xs:element type="xs:string" name="hint" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="exclude" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="explicit" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="swapType">
    <xs:sequence>
      <xs:element type="selectType" name="select" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="questionnaire" use="required"/>
  </xs:complexType>
  <xs:complexType name="composition-phaseType">
    <xs:sequence>
      <xs:element type="swapType" name="swap" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="organizationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="systemAcronym" use="required"/>
        <xs:attribute type="xs:string" name="projectAcronym" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="startdateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="variable" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="enddateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="variable" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="date-contextType">
    <xs:sequence>
      <xs:element type="startdateType" name="startdate"/>
      <xs:element type="enddateType" name="enddate"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="questionnaire" use="optional"/>
    <xs:attribute type="xs:string" name="alternateName" use="optional"/>
    <xs:attribute type="xs:boolean" name="drivingEntity" use="optional"/>
  </xs:complexType>
  <xs:complexType name="default-observation-datesType">
    <xs:sequence>
      <xs:element type="date-contextType" name="date-context" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patient-dimension-columnType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="column" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="variable" use="optional"/>
        <xs:attribute type="xs:string" name="defaultValue" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="includeType">
    <xs:sequence>
      <xs:element type="patient-dimension-columnType" name="patient-dimension-column" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation>recruitment is excluded for the moment by the fact it does not have a column</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="questionnaire"/>
    <xs:attribute type="xs:string" name="alternateName"/>
  </xs:complexType>
  <xs:complexType name="patient-dimensionType">
    <xs:sequence>
      <xs:element type="includeType" name="include" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pdo-phaseType">
    <xs:sequence>
      <xs:element type="xs:string" name="user-defined-procedure" minOccurs="0"/>
      <xs:element type="organizationType" name="organization">
        <xs:annotation>
          <xs:documentation>These values are used in the patient id mapping table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="default-observation-datesType" name="default-observation-dates"/>
      <xs:element type="patient-dimensionType" name="patient-dimension" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Do not alter column or name attributes. 
		     Only "questionnaire", "variable" and "defaultValue" are open for configuration.
		     The attributes "variable" and "defaultValue" are alternatives.
		    
		     NB: The patient dimension can be excluded by omitting this section. 
		     This may happen where another system provides the data straight to i2b2.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onyx-export-configType">
    <xs:sequence>
      <xs:element type="xs:string" name="code-prefix" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Prefix for nominal ontology codes.
	    
	     Relevant for both nominal AND real ontologies. 
	     The latter applies where generated codes are required for variables 
	     where a suitable standard code does not exist.
	    
	     Required within both ontology and pdo phases.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="ontology-phaseType" name="ontology-phase" maxOccurs="1" minOccurs="0"/>
      <xs:element type="composition-phaseType" name="composition-phase" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>NB: The composition phase is only allowed during the generation of test data.
	    
	     The selection construct is used to choose those parts of a questionnaire which
	     will be swapped between participants.
	    
	     There are three selection constructs:
	     (1) hint:
	         Any variable which can be matched partly to the hint string will be included.
	         If the hint is 'abcde', the match will be on '*abcde*'.
	         The string is case sensitive.
	         More than one hint can be included in a select. They act as logical OR's.
	     (2) exclude:
	         If the hint is too general, some accidental associations may be included.
	         These can be explicitly excluded. Hint and exclude work in tandem.
	     (3) explicit:
	         If no other way is possible, you can use explicit to give the exact match.
	         This is case sensitive. Multipl explicit constructs can be used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="pdo-phaseType" name="pdo-phase" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>